// sembradora RC
.sembradora-rc{
    position: relative;
    z-index: 4;
}
main{
    overflow-x: hidden;
}
.cta{
    height: 500px;
    margin-top: -10px;
    background-position: center left;
}
.wa{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 5;
    img{
        width: 60px;
    }
}