// sembradora RC
.sembradora-rc{
    position: relative;
    z-index: 4;
}
main{
    overflow-x: hidden;
}
.cta{
    height: 500px;
    margin-top: -10px;
    background-position: center left;
}